.fl{
   float: left;
}

.left{
  background-color: #cccccc;
  height: 100%;
  overflow: auto;
  right: 70%;
  left: 0;
  top: 0;
  bottom: 30px;
  background-color: #aabbcc;
}

.right{
  overflow: auto;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 30px;   
  width: 70%;
  height: 100%;
  background-color: #000000;
}

.left .top{
  clear: right;
}