
table, tr, td, th {
    border: 1px solid black;
}

table th{
	padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
	color: #00ff00;

}

table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


