<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<title>
		{% block title %}
			Kmitra Application |
		{% endblock %}
		</title>
		
		<!-- Metadata page --> 

		{% block meta %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="{% block description %}Manage the farmer{% endblock description %}">
			<meta name="keywords" content="{% block keywords %} {% endblock keywords %}" />
			<meta name="author" content="">
		{% block canonical %}
			<link rel="canonical" href="{{ request.build_absolute_uri }}">
		{% endblock canonical %}
		{% endblock meta %}

		<!-- Static css block-->
		{% block css %}
			{% load staticfiles %}
				<link rel="stylesheet" type="text/css" href="{% static 'authentications/base.css' %}" />


    	{% endblock css %}

    	<!-- JS block-->

    	{% block js %}
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	{% endblock js %}

</head>
<body>

	 <header>
       <nav>
          <ul class="nav inline-items">
            <li><a href="#">Information</a></li>
            <li><a href="#">Volunteer</a></li>
            <li><a href="#">Farmers</a></li>
            <li><a href="#">Crops</a></li>
             <li><a href="#">Local Centre</a></li>
         </ul>
      </nav>
    </header>
	<h1>{% block head %}{% endblock %}</h1>
	{% block content %}{% endblock %}

	 <footer>
  		<p><a href="#">Contact Us</a> | <a href="#">Sitemap</a> | <a href="#">Privacy Policy</a></p>
  		<p>&copy;2014 Copyright info here...</p>
  	</footer>
	
</body>
</html>