{% extends "authentications/base.html" %}
{% block title %}
	{{object.first_name}} {{object.last_name}}
{% endblock title %}
{% block head %}
	<center>
	Volunteers #{{  object.pk  }}
	<!-- 	{{object.first_name}}
	<img src="{{object.profile_image.url}}" alt="User profile picture" style="width:304px;height:228px">
	-->	</center>
	{% block css %}
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'authentications/display_volunteer.css' %}" />
		
	{% endblock css %}
	
{% endblock head%}
{% block content %}
	<div class="container">
    <div class="left fl">
        <div class="top">
        	<p>Top left</p>
        </div>
        <div class="bottom">
        	<p>Top Bottom</p>
        </div>
    </div>

    <div class="right">
    	 <p class="description-text">Right text</p>
    </div>
</div>
	
{% endblock content%}