{% extends "authentications/base.html" %}
{% block title %}
	All Volunteer
{% endblock title %}
{% block head %}
	<center>
	All Volunteers
	</center>
{% endblock head%}

{% block css %}
	{{ block.super}}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'authentications/style.css' %}" />
	
{% endblock css %}

{% block js %}
	
	{{ block.super}}
	<script type="text/javascript">
	$( document ).ready(function(){
		assignRowToTable("volunteer_sr_no")
	});

	//a function which will assign serial number to table rows
	function assignRowToTable(xyz){
		var x = '.' + xyz;
		$(x).each( function(i) {
		$(this).text(i+1);
	});
	}

	</script>
{% endblock js %}
{% block content %}
	{% if volunteer_list %}
		<table id="volunteers">
			<tr>
				<th>Sr No.</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Details</th>
			</tr>
			
			{% for volunteer in volunteer_list %}
				<tr class="table_row">
					<td class="volunteer_sr_no" id= "volunteer_sr_no_{{volunteer.pk}}" > </td>
					<td class="volunteer_firstName" id= "volunteer_firstName_{{volunteer.pk}}" > {{ volunteer.first_name }}</td>
					<td class="volunteer_lastName" id= "volunteer_lastName_{{volunteer.pk}}" >  {{ volunteer.last_name }}</td>
					<td class="volunteer_details" id= "volunteer_details_{{volunteer.pk}}" ><a href="/volunteer/{{ volunteer.pk}}/" class="see_detail">detail</a></td>
				</tr>
			{% endfor %}
		</table>
		
	{% else %}
		<h3>No Registered volunteers found</h3>
	{% endif %}
{% endblock content%}