{% extends "base.html" %}
{% block title %}UPLOADS{% endblock %}
{% block head %}<center>Districts</center>{% endblock %}
{% block content %} 

<form id="myForm" method="post" action="." class = "white-pink" enctype="multipart/form-data">
	{% csrf_token %}
    <table border="0">
        {{ form.as_table }}
    </table>
    <input id="submit_button" type="submit" value="Submit"/>
 <div id="check" style="float:left; width:100%; height:50px;  visibility:hidden"></div>
</form>

{% endblock %}
